.addBtn {
  margin-left: 5px;
  border: none;
  background-color: #157a0591;
  border-radius: 5px;
  padding: 3px;
  color: aliceblue;
  font-size: 12px;
  width: 120px;
}

.addBtn:hover {
  background-color:  rgb(211, 126, 15);
}

.formCnt {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
   display: flex;
   align-items: center;
    flex-direction: column;
}

.labelCnt {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  
}